{% extends "adminApp/index.html" %}

{% block mainblock %}
<!DOCTYPE html>
<html>
<head>
    <title>Mark Attendance</title>
    <link rel="stylesheet" type="text/css" href="/static/attendance.css">
</head>
<body>
    <h2>Mark Attendance</h2><br><br>
    <form method="post">
        {% csrf_token %}
        <label for="student">Select Student:</label>
        <select name="student" required>
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.user }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="status">Status:</label>
        <select name="status" required>
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
        </select><br><br>
        
        <button type="submit">Mark Attendance</button>
    </form>
    <br>
    <a href="{% url 'attendance_list' %}">View Attendance List</a><br><br>

</body>
</html>
{% endblock %}
