{% extends "adminApp/index.html" %}
{% block mainblock %}
<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Attendance - {{ date }} - {{ time_slot }}</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Enrollment No</th>
                        <th scope="col">Present/Absent</th>
                    </tr>
                </thead>
                <tbody>
                   
            </table>

            <div class="mt-3">
               
            </div>

            {% endblock %}